<nav class="templates-navigation">
    <ul>
        <li {% if active == "home" %} class="is-active" {% endif %}>
            <a href="/templates/">Home</a>
        </li>
        <li {% if active == "widgets" %} class="is-active" {% endif %}>
            <a href="/templates/widgets.html">Widgets</a>
        </li>
    </ul>
</nav>
