<nav class="l-template-navigation" role="navigation">
    <ul>
        <li class="menu-project {% if class == "template-home" %}is-active{% endif %}">
            <a href="/templates/index.html">Project</a>
        </li>
        <li class="menu-colors {% if class == "template-colors" %}is-active{% endif %}">
            <a href="/templates/colors.html">Couleurs</a>
        </li>
        <li class="menu-typography {% if class == "template-typography" %}is-active{% endif %}">
            <a href="/templates/typography.html">Typographie</a>
        </li>
        <li class="menu-icons {% if class == "template-icons" %}is-active{% endif %}">
            <a href="/templates/icons.html">Iconographie</a>
        </li>
        <li class="menu-grids {% if class == "template-grids" %}is-active{% endif %}">
            <a href="/templates/grids.html">Grilles</a>
        </li>
        <li class="menu-navigation {% if class == "template-navigation" %}is-active{% endif %}">
            <a href="/templates/navigation.html">Navigation</a>
        </li>
        <li class="menu-forms {% if class == "template-forms" %}is-active{% endif %}">
            <a href="/templates/forms.html">Formulaires</a>
        </li>
        <li class="menu-widgets {% if class == "template-widgets" %}is-active{% endif %}">
            <a href="/templates/widgets.html">Widgets</a>
        </li>
    </ul>
</nav>
