{% extends "../../../src/twig/main.twig" %}

{% block page %}
<div class="l-template">

    <div class="l-page-wrapper">
        <div class="l-block-content">
			{% block content %}{% endblock %}
		</div>
	</div>

</div>
{% endblock %}
