// ---------------------------------- //
//             Typography             //
// ---------------------------------- //

@include headers {
    font-family: $ff-headers;
    color: $c-txt-default;
}

h1,
.h1 {
    @include rem-typo(48px);
}

h2,
.h2 {
    @include rem-typo(32px);
}

h3,
.h3 {
    @include rem-typo(24px);
}

h4,
.h4 {
    @include rem-typo(16px);
}

h5,
.h5 {
    @include rem-typo(13px);
}

h6,
.h6 {
    @include rem-typo(11px);
}

p,
li,
button {
    color: $c-txt-default;
    @include rem-typo(16px);
}

a {
    text-decoration: none;
    color: $c-txt-links;
    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 1em 0;
    padding: 0;
}
