// ---------------------------------- //
//             Typography             //
// ---------------------------------- //

@if variable-exists(typography) {
    @each $typo in $typography {
        $typo-selector: map-get($typo, "selector");
        $typo-type: map-get($typo, "type");
        $typo-properties: map-get($typo, "properties");
        $typo-breakpoints: map-get($typo, "breakpoints");

        @if $typo-type == "id" { $typo-selector: "#" + $typo-selector; }
        @if $typo-type == "class" { $typo-selector: "." + $typo-selector; }
        @if $typo-type == "element" { $typo-selector: $typo-selector + ", ." + $typo-selector; }

        #{$typo-selector} {
            @each $current in $typo-properties {
                $property: nth($current, 1);
                $value: nth($current, 2);
                $rem-properties: (
                    "font-size",
                    "line-height",
                    "margin-top",
                    "margin-right",
                    "margin-bottom",
                    "margin-left",
                );

                @if index($rem-properties, $property) != null and $value != "inherit" {
                    #{$property}: rem($value);
                } @else if $property == "color" {
                    #{$property}: color($value);
                } @else {
                    #{$property}: $value;
                }
            }

            @each $breakpoint in $typo-breakpoints {
                $name: nth($breakpoint, 1);
                $typo-properties: nth($breakpoint, 2);
                @include respond-to($name) {
                    @each $current in $typo-properties {
                        $property: nth($current, 1);
                        $value: nth($current, 2);
                        $rem-properties: (
                            "font-size",
                            "line-height",
                            "margin-top",
                            "margin-right",
                            "margin-bottom",
                            "margin-left",
                        );

                        @if index($rem-properties, $property) != null {
                            #{$property}: rem($value);
                        } @else if $property == "color" {
                            #{$property}: color($value);
                        } @else {
                            #{$property}: $value;
                        }
                    }
                }
            }
        }
    }
}
