{% extends "../layouts/single-column.twig" %}

{% set title = "Templates - Couleurs" %}
{% set class = "template-colors" %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Couleurs</h1>

    <div class="template-colors-wrapper">
        <span class="template-color" style="background-color: #333;">#333</span>
        <span class="template-color" style="background-color: #444;">#444</span>
        <span class="template-color" style="background-color: #555;">#777</span>
        <span class="template-color" style="background-color: #666;">#666</span>
        <span class="template-color" style="background-color: #777;">#777</span>
        <span class="template-color" style="background-color: #888;">#888</span>
        <span class="template-color" style="background-color: #999;">#999</span>
        <span class="template-color" style="background-color: #aaa;">#aaa</span>
        <span class="template-color" style="background-color: #bbb;">#bbb</span>
        <span class="template-color" style="background-color: #ccc;">#ccc</span>
        <span class="template-color" style="background-color: #ddd;">#ddd</span>
        <span class="template-color" style="background-color: #eee;">#eee</span>
    </div>

{% endblock %}
