{% extends "../layouts/single-column.twig" %}

{% set title = "Templates - Iconographie" %}
{% set class = "template-icons" %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Iconographie</h1>

    <div class="template-icons-wrapper">
        <span class="template-icon">{% svg "logo", "300x100" %}</span>
    </div>

{% endblock %}
