{% extends "../layouts/single-column.twig" %}

{% set title = 'Templates - Home' %}
{% set class = 'template-home' %}
{% set templates = true %}

{% block content %}

    <div class="grid">
        <div class="grid-wrapper">
            <section class="col-1-2 col-1-1-mobile">
                <header>
                    <h1 class="template-title">{{ get_project_name() }}</h1>
                    <p class="template-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis eaque quam reiciendis facere praesentium similique perspiciatis magni fugiat quia, molestiae ducimus illum ipsam ea officiis a suscipit debitis. Ipsam vero quo repellendus blanditiis, ipsa sint sapiente repellat aliquid iste aliquam dolorum esse et qui aspernatur nobis itaque animi, quia architecto!</p>
                </header>
                <h2 class="template-title">Notes</h2>
                <ol class="template-list">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque modi repellat similique autem, sint velit. Accusantium quasi natus hic tenetur. Tempore iusto sequi consequuntur repellendus ratione, hic autem, reiciendis repudiandae nam obcaecati voluptatem quos, vel!</li>
                    <li>In dolorem nisi ratione temporibus adipisci id nihil alias doloremque dolorum vero ad commodi explicabo iste nesciunt magnam, tempore, quibusdam illum, eaque maxime blanditiis. Repellendus assumenda nostrum tenetur soluta perferendis suscipit fugiat, quaerat impedit animi.</li>
                </ol>
            </section>

            <section class="col-1-2 col-1-1-mobile">
                <h2 class="template-title template-title-offset">Caractéristiques</h2>
                <div class="table template-table">
                    <div class="tr">
                        <div class="td">Version</div>
                        <div class="td">{{ get_project_version() }}</div>
                    </div>
                    <div class="tr">
                        <div class="td">Responsive</div>
                        <div class="td">Oui</div>
                    </div>
                    <div class="tr">
                        <div class="td">Retina</div>
                        <div class="td">Oui</div>
                    </div>
                    <div class="tr">
                        <div class="td">Version IE</div>
                        <div class="td">9+</div>
                    </div>
                </div>

                <h2 class="template-title">Références</h2>
                <ul>
                    <li>
                        <a href="https://gitlab.libeo.com/vtt/starter-kit">Gitlab</a>
                    </li>
                    <li>
                        <a href="https://projets.libeo.com/projects/vtt">Redmine</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>

{% endblock %}
