{% extends "../layouts/single-column.twig" %}

{% set title = 'Templates - Navigation' %}
{% set class = 'template-navigation' %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Navigation</h1>

    <h2>Navigation principale</h2>
    {% include "../partials/navigation-main.twig" %}

    <hr>

    <h2>Navigation principale (fullwidth)</h2>
    {% include "../partials/navigation-main.twig" with {class: 'is-fullwidth'} %}

{% endblock %}
