{% extends "../layouts/single-column.twig" %}

{% set title = 'Templates - Navigation' %}
{% set class = 'template-navigation' %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Navigation</h1>

{% endblock %}
