{% extends "../layouts/two-columns.twig" %}

{% set title = 'Templates - Typographie' %}
{% set class = 'template-typography' %}

{% set templates = true %}

{% block content %}

    {% include 'partials/templates-navigation.twig' with {active: 'typography'} %}

    <h1 class="template-title">Typographie</h1>

    <div class="template-typography-wrapper template-typography-no-context">
        <h1>Titre principal</h1>
        <h2>Titre secondaire</h2>
        <h3>Troisième niveau de titre</h3>
        <h4>Sous-titre du sous-titre</h4>
        <h5>Edge case d'écriture de contenu</h5>
        <h6>Le presque jamais existant H6 dans toute sa grandeur</h6>
        <p>Lorem ipsum dolor sit amet,
            <em>consectetur</em>adipiscing elit.
            <strong>Nulla viverra</strong>placerat tincidunt. Donec ornare condimentum odio tempor malesuada. Proin pretium ultrices diam, sit amet fermentum lacus tristique fringilla. Aenean tincidunt varius dolor tincidunt cursus. Ut sem velit, pharetra sed libero ut, lacinia luctus risus. Quisque <i>non lacus malesuada</i>, sollicitudin orci ac, gravida diam. <a href="#N">unc placerat sagittis</a> ultrices. Sed malesuada neque id placerat sagittis. Pellentesque elit libero, adipiscing et ultrices mollis, mollis eu mauris. Mauris quis ullamcorper mauris. Sed sem ipsum, cursus nec tincidunt id, posuere lobortis libero. Sed condimentum diam ac velit <u>gravida posuere</u>. Morbi lacinia viverra iaculis. Donec porttitor lobortis pretium. Aliquam <b>nibh odio</b>, porttitor sed posuere eget, tincidunt eget velit.
            <q>Sed eget felis quis sem consectetur placerat et ac erat.</q>
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Beatae dignissimos nemo est quam.</li>
            <li>Incidunt nihil eius quisquam inventore.</li>
            <li>Ipsam soluta similique fuga eum!
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Consequatur nisi assumenda, reprehenderit modi.</li>
                    <li>Quis unde reiciendis iste neque.
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Dolor id vel maiores accusantium!</li>
                            <li>Repellat quidem distinctio, incidunt culpa.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ol>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Beatae dignissimos nemo est quam.</li>
            <li>Incidunt nihil eius quisquam inventore.</li>
            <li>Ipsam soluta similique fuga eum!
                <ol>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Consequatur nisi assumenda, reprehenderit modi.</li>
                    <li>Quis unde reiciendis iste neque.
                        <ol>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Dolor id vel maiores accusantium!</li>
                            <li>Repellat quidem distinctio, incidunt colpa.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
        <p class="heading intro">Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</p>
        <blockquote>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nihil repellendus neque dignissimos vitae quidem, eveniet corporis molestias eligendi cupiditate distinctio inventore ex commodi earum amet reprehenderit sequi perferendis recusandae vel quam, eum nulla quisquam a? Nihil ad, facilis, officia voluptas animi modi quibusdam, laudantium quis perferendis ipsa autem commodi?</p>
    </div>

    <hr>

    <div class="template-typography-wrapper template-typography-context">
        <h1>Sed quis diam ut ante luctus mattis.</h1>
        <p class="intro">Texte d'intro avec la class .intro ou .heading Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</p>
        <h2>Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend</h2>
        <p>
            Lorem ipsum dolor sit amet,
            <em>consectetur</em>adipiscing elit.
            <strong>Nulla viverra</strong>placerat tincidunt. Donec ornare condimentum odio tempor malesuada. Proin pretium ultrices diam, sit amet fermentum lacus tristique fringilla. Aenean tincidunt varius dolor tincidunt cursus. Ut sem velit, pharetra sed libero ut, lacinia luctus risus. Quisque <i>non lacus malesuada</i>, sollicitudin orci ac, gravida diam. <a href="#">unc placerat sagittis</a> ultrices. Sed malesuada neque id placerat sagittis. Pellentesque elit libero, adipiscing et ultrices mollis, mollis eu mauris. Mauris quis ullamcorper mauris. Sed sem ipsum, cursus nec tincidunt id, posuere lobortis libero. Sed condimentum diam ac velit <u>gravida posuere</u>. Morbi lacinia viverra iaculis. Donec porttitor lobortis pretium. Aliquam <b>nibh odio</b>, porttitor sed posuere eget, tincidunt eget velit.
            <q>Sed eget felis quis sem consectetur placerat et ac erat.</q>
        </p>
        <h3>Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend</h3>
        <p>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</p>
        <p>Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend</p>
        <ul>
            <li>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</li>
            <li>Sed quis diam ut ante luctus mattis
                <ul>
                    <li>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</li>
                </ul>
            </li>
            <li>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</li>
        </ul>
        <h4>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend</h4>
        <p>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</p>
        <h5>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend</h5>
        <p>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</p>
        <h6>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend</h6>
        <p>Curabitur congue arcu eget ipsum pretium, at vehicula ante iaculis. Sed quis diam ut ante luctus mattis. Donec facilisis nulla in lorem ultricies eleifend. Aliquam erat volutpat. Donec dictum neque augue, vitae vulputate nibh auctor nec. Pellentesque commodo velit a elit bibendum elementum ac ac risus.</p>
    </div>


{% endblock %}
