{% extends "../layouts/single-column.twig" %}

{% set title = 'Templates - Typographie' %}
{% set class = 'template-typography' %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Typographie</h1>

    <div class="template-typography-wrapper template-typography-no-context">
        <h1>{% lorem "5" %}</h1>
        <h2>{% lorem "5" %}</h2>
        <h3>{% lorem "5" %}</h3>
        <h4>{% lorem "5" %}</h4>
        <h5>{% lorem "5" %}</h5>
        <p>{% lorem "10" %} <em>{% lorem "1" %}</em> {% lorem "10" %} <strong>{% lorem "2" %}</strong> {% lorem "50" %} <i>{% lorem "3" %}</i> {% lorem "10" %} <a href="##">{% lorem "3" %}</a> {% lorem "50" %} <u>{% lorem "2" %}</u> {% lorem "10" %} <b>{% lorem "2" %}</b> {% lorem "10" %}</p>
        <ul>
            <li>{% lorem "10" %}</li>
            <li>{% lorem "10" %}</li>
            <li>{% lorem "10" %}</li>
            <li>{% lorem "10" %}
                <ul>
                    <li>{% lorem "10" %}</li>
                    <li>{% lorem "10" %}</li>
                    <li>{% lorem "10" %}
                        <ul>
                            <li>{% lorem "10" %}</li>
                            <li>{% lorem "10" %}</li>
                            <li>{% lorem "10" %}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ol>
            <li>{% lorem "10" %}</li>
            <li>{% lorem "10" %}</li>
            <li>{% lorem "10" %}</li>
            <li>{% lorem "10" %}
                <ol>
                    <li>{% lorem "10" %}</li>
                    <li>{% lorem "10" %}</li>
                    <li>{% lorem "10" %}
                        <ol>
                            <li>{% lorem "10" %}</li>
                            <li>{% lorem "10" %}</li>
                            <li>{% lorem "10" %}</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
        <p class="heading intro">{% lorem "50" %}</p>
        <blockquote>{% lorem "50" %}</blockquote>
        <p>{% lorem "50" %}</p>
    </div>

    <hr>

    <div class="template-typography-wrapper template-typography-context">
        <h1>{% lorem "10" %}</h1>
        <p class="intro">{% lorem "50" %}</p>
        <h2>{% lorem "20" %}</h2>
        <p>{% lorem "10" %} <em>{% lorem "1" %}</em> {% lorem "10" %} <strong>{% lorem "2" %}</strong> {% lorem "50" %} <i>{% lorem "3" %}</i> {% lorem "10" %} <a href="##">{% lorem "3" %}</a> {% lorem "50" %} <u>{% lorem "2" %}</u> {% lorem "10" %} <b>{% lorem "2" %}</b> {% lorem "10" %}</p>
        <h3>{% lorem "20" %}</h3>
        <p>{% lorem "50" %}</p>
        <p>{% lorem "150" %}</p>
        <p>{% lorem "50" %}</p>
        <p>{% lorem "20" %}</p>
        <ul>
            <li>{% lorem "50" %}</li>
            <li>{% lorem "10" %}
                <ul>
                    <li>{% lorem "50" %}</li>
                    <li>{% lorem "50" %}</li>
                    <li>{% lorem "50" %}
                        <ul>
                            <li>{% lorem "50" %}</li>
                            <li>{% lorem "50" %}</li>
                            <li>{% lorem "50" %}</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>{% lorem "50" %}</li>
        </ul>
        <h4>{% lorem "20" %}</h4>
        <p>{% lorem "100" %}</p>
        <ol>
            <li>{% lorem "50" %}</li>
            <li>{% lorem "10" %}
                <ol>
                    <li>{% lorem "50" %}</li>
                    <li>{% lorem "50" %}</li>
                    <li>{% lorem "50" %}
                        <ol>
                            <li>{% lorem "50" %}</li>
                            <li>{% lorem "50" %}</li>
                            <li>{% lorem "50" %}</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>{% lorem "50" %}</li>
        </ol>
        <h5>{% lorem "20" %}</h5>
        <p>{% lorem "100" %}</p>
        <h6>{% lorem "20" %}</h6>
        <p>{% lorem "100" %}</p>
    </div>

{% endblock %}
