{% extends "../../src/twig/layouts/single-column.twig" %}

{% set title = "Templates - Breakpoints" %}
{% set class = "template-breakpoints" %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Breakpoints</h1>

    <div class="loading-wrapper">
        <div class="template-breakpoints-wrapper">
            <div class="template-breakpoints-grid"></div>
        </div>

        <div class="is-text-align-center">
            <hr>
            <button class="btn-add-breakpoint"><span>Ajouter un breakpoint</span></button>
        </div>

        <div class="template-breakpoint is-template">
            <div class="template-breakpoint-content">
                <input type="text" class="template-breakpoint-name">
                <div class="template-breakpoint-input-wrapper">
                    <input type="checkbox" class="template-breakpoint-min-activate">
                    <input type="text" class="template-breakpoint-min template-breakpoint-adjustable">
                </div>
                <div class="template-breakpoint-input-wrapper">
                    <input type="checkbox" class="template-breakpoint-max-activate">
                    <input type="text" class="template-breakpoint-max template-breakpoint-adjustable">
                </div>
                <button class="btn-remove-breakpoint">{% include '../svg/delete.svg' %}</button>
            </div>
        </div>

        <div class="json-preview-wrapper editing-element">
            <div class="json-preview-buttons">
                <button class="json-preview-generate">Générer</button>
                <button class="json-preview-import">Importer</button>
            </div>
            <button class="json-preview-reset">{% include '../svg/reset.svg' %}</button>
            <button class="json-preview-download">{% include '../svg/download.svg' %}</button>
            <textarea class="json-preview"></textarea>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function(event) {
        $(this).templatesBreakpoints();
    });
    </script>

{% endblock %}
