{% extends "../../src/twig/layouts/single-column.twig" %}

{% set title = "Templates - Breakpoints" %}
{% set class = "template-breakpoints" %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Breakpoints</h1>
    <div class="template-breakpoints-wrapper">
        <button class="btn-add-breakpoint">Ajouter un breakpoint</button>
    </div>

    <div class="template-breakpoint is-template">

    </div>

{% endblock %}
