{% extends "../../src/twig/layouts/single-column.twig" %}

{% set title = "Templates - Fonts" %}
{% set class = "template-fonts" %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Fonts</h1>

    <div class="template-fonts-buttons">
        <div class="template-fonts-button-wrapper">
            <button class="btn-show-add-font btn-show-add-font-google"><span>Google Webfont</span></button>
            <div class="template-fonts-add-input-wrapper" data-type="google">
                <select class="template-fonts-add-select template-fonts-add-element"></select>
                <button class="template-fonts-show-google-font"></button>
                <div class="template-fonts-add-font-variants"></div>
                <button class="btn-add-font" data-type="google"></button>
            </div>
        </div>
        <div class="template-fonts-button-wrapper">
            <button class="btn-show-add-font btn-show-add-font-custom"><span>Custom Webfont</span></button>
            <div class="template-fonts-add-input-wrapper" data-type="custom">
                <input type="text" class="template-fonts-add-input template-fonts-add-element is-custom" placeholder="+ Custom font">
                <button class="btn-add-font" data-type="custom"></button>
            </div>
        </div>
    </div>
    <div class="template-fonts-wrapper"></div>

    <div class="template-fonts-add-font-variants-wrapper is-template">
        <input type="checkbox" class="template-fonts-add-font-checkbox" id="" value="">
        <label for=""><span></span></label>
    </div>

    <div class="template-font is-template">
        <div class="template-font-top">
            <span class="template-font-name"></span>
            <span class="template-font-type"></span>
        </div>
        <div class="template-font-preview"></div>
        <button class="btn-remove-font">{% include '../svg/delete.svg' %}</button>
    </div>

    <div class="json-preview-wrapper">
        <div class="json-preview-buttons">
            <button class="json-preview-generate">Générer</button>
            <button class="json-preview-import">Importer</button>
        </div>
        <button class="json-preview-reset">{% include '../svg/reset.svg' %}</button>
        <button class="json-preview-download">{% include '../svg/download.svg' %}</button>
        <textarea class="json-preview"></textarea>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function(event) {
        //getFonts();
        $(this).templatesFonts();
    });
    window.googleCallback = function() {
        $(document).trigger('googleCallback');
    }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=googleCallback"></script>

{% endblock %}
