{% extends "./layouts/template.twig" %}

{% set title = "Templates - Formulaires" %}
{% set class = "template-forms" %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Formulaires</h1>

    <div class="grid">
        <div class="grid-wrapper">
            <div class="col-1-2 col-1-1-mobile">
                <form enctype="multipart/form-data" method="GET" action="#" data-errors-message="Il y a {n} erreur{s}." data-errors-prefix="Erreur - ">
                    <div class="fields" id="fields">
                        <div class="field nom">
                            <label for="nom">Nom
                                <span class="required">(obligatoire)</span>
                            </label>
                            <input type="text" id="nom" value="" data-validate="!empty above" data-compare-above="10" data-message-above="Le nom doit avoir plus de 10 caractères" data-message-empty="Le nom est obligatoire." />
                        </div>
                        <div class="field prenom">
                            <label for="prenom">Prénom
                                <span class="required">(obligatoire)</span>
                            </label>
                            <input type="text" id="prenom" value="" data-validate="!empty" data-message-empty="Le prénom est obligatoire." />
                        </div>
                        <div class="field telephone">
                            <label for="telephone">
                                Téléphone
                                <span class="required">(obligatoire)</span>
                                <span class="format">Exemple : 418-934-1234</span>
                            </label>
                            <input type="text" id="telephone" value="" data-validate="!empty nanpPhone" data-message-empty="Le téléphone est obligatoire." data-message-nanpPhone="Le téléphone doit être valide." />
                        </div>
                        <div class="field courriel">
                            <label for="courriel">Courriel
                                <span class="required">(obligatoire)</span>
                            </label>
                            <input type="text" id="courriel" value="" data-validate="!empty email" data-message-empty="Le courriel est obligatoire." data-message-email="Le courriel doit être valide." />
                        </div>
                        <div class="field message">
                            <label for="message">Message
                                <span class="required">(obligatoire)</span>
                            </label>
                            <textarea id="message" data-validate="!empty" data-message-empty="Le message est obligatoire."></textarea>
                        </div>
                        <div class="field secteur">
                            <label for="secteur">Choisissez votre secteur d'activité
                                <span class="required">(obligatoire)</span>
                            </label>
                            <select id="secteur" data-validate="!empty" data-message-empty="Le secteur d'activité est obligatoire.">
                                <option value="">-</option>
                                <option value="1">Administration et Gestion</option>
                                <option value="2">Agriculture, Pêcheries et Alimentation</option>
                                <option value="3">Architecture, Arpentage, Urbanisme</option>
                                <option value="4">Automobile, Camionnage</option>
                                <option value="5">Chimie, plasturgie</option>
                                <option value="6">Commerce de gros et détail</option>
                                <option value="7">Communications, Publicité, Médias</option>
                                <option value="8">Construction</option>
                                <option value="9">Droit et Notariat</option>
                                <option value="10">Édition, Impression</option>
                                <option value="11">Éducation et Formation</option>
                                <option value="12">Électricité, Plomberie</option>
                                <option value="13">Énergie</option>
                                <option value="14">Environnement, Récupération</option>
                                <option value="15">Fabrication</option>
                                <option value="16">Finance, Assurances</option>
                                <option value="17">Hébergement et Restauration</option>
                                <option value="18">Immobilier</option>
                                <option value="19">Ingénierie</option>
                                <option value="20">Machinerie et équipements</option>
                                <option value="21">Matériel électrique et électronique</option>
                                <option value="22">Mobilier et accessoires</option>
                                <option value="23">Produits métalliques</option>
                                <option value="24">Regroupement</option>
                                <option value="25">Ressources naturelles</option>
                            </select>
                        </div>
                        <div class="field banniere">
                            <label for="banniere">Veuillez téléverser une image au format bannière de 580 pixels par 200 pixels, d'un poids maximal de 2 Mo.</label>
                            <input type="file" id="banniere" data-validate="!empty" data-message-empty="Le champ fichier est obligatoire." />
                        </div>
                        <fieldset class="field radio" id="radio" data-validate="!empty" data-message-empty="Les boutons radio sont obligatoires.">
                            <legend>Boutons radio
                                <span class="required">(obligatoire)</span>
                            </legend>
                            <div class="radio-field-wrapper">
                                <div class="radio-field">
                                    <label for="radio1">Lorem ipsum dolor sit amet</label>
                                    <input type="radio" name="radio" id="radio1" value="1" />
                                </div>
                                <div class="radio-field">
                                    <label for="radio2">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.</label>
                                    <input type="radio" name="radio" id="radio2" value="2" />
                                </div>
                                <div class="radio-field">
                                    <label for="radio3">Lorem ipsum dolor sit amet</label>
                                    <input type="radio" name="radio" id="radio3" value="3" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="field checkbox" id="checkbox" data-validate="!empty above" data-compare-above="1" data-message-above="Vous devez cocher au moins 2 cases." data-message-empty="Les cases à cocher sont obligatoires.">
                            <legend>Cases à cocher
                                <span class="required">(obligatoire)</span>
                            </legend>
                            <div class="checkbox-field-wrapper">
                                <div class="checkbox-field">
                                    <label for="checkbox1">Lorem ipsum dolor sit amet</label>
                                    <input type="checkbox" name="checkbox" id="checkbox1" value="1" />
                                </div>
                                <div class="checkbox-field">
                                    <label for="checkbox2">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.</label>
                                    <input type="checkbox" name="checkbox" id="checkbox2" value="2" />
                                </div>
                                <div class="checkbox-field">
                                    <label for="checkbox3">Lorem ipsum dolor sit amet</label>
                                    <input type="checkbox" name="checkbox" id="checkbox3" value="3" />
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div id="buttons">
                        <input type="submit" value="Envoyer le formulaire" class="submit" />
                    </div>
                </form>
            </div>
            <div class="col-1-2 col-1-1-mobile">
                <!--
                <form enctype="multipart/form-data" method="post" action="#">
                    <div class="errors">
                        <h3 id="errors-title">Il y a 7 champs erronés</h3>
                        <ul>
                            <li><a href="#nom-2">Nom est obligatoire.</a></li>
                            <li><a href="#prenom-2">Prénom est obligatoire.</a></li>
                            <li><a href="#telephone-2">Téléphone est obligatoire.</a></li>
                            <li><a href="#courriel-2">Courriel est obligatoire.</a></li>
                            <li><a href="#message-2">Message est obligatoire.</a></li>
                            <li><a href="#secteur-2">Secteur est obligatoire.</a></li>
                            <li><a href="#radio-2">Radio est obligatoire.</a></li>
                            <li><a href="#checkbox-2">Checkbox est obligatoire.</a></li>
                        </ul>
                    </div>

                    <div class="fields" id="fields-error">
                        <div class="field nom is-error">
                            <label for="nom">
                                <span class="error-message">Erreur -</span>
                                Nom
                                <span class="required">(obligatoire)</span>
                                <span class="error-message-explanation">
                                    <span>Nom est obligatoire.</span>
                                </span>
                            </label>
                            <input type="text" id="nom-2" value="" />
                        </div>
                        <div class="field prenom is-error">
                            <label for="prenom">
                                <span class="error-message">Erreur -</span>
                                Prénom
                                <span class="required">(obligatoire)</span>
                                <span class="error-message-explanation">
                                    <span>Prénom est obligatoire.</span>
                                </span>
                            </label>
                            <input type="text" id="prenom-2" value="" />
                        </div>
                        <div class="field telephone is-error">
                            <label for="telephone">
                                <span class="error-message">Erreur -</span>
                                Téléphone
                                <span class="required">(obligatoire)</span>
                                <span class="format">Exemple : 418-934-1234</span>
                                <span class="error-message-explanation">
                                    <span>Téléphone est obligatoire.</span>
                                </span>
                            </label>
                            <input type="text" id="telephone-2" maxlength="12" value="418-934-1234" />
                        </div>
                        <div class="field courriel is-error">
                            <label for="courriel">
                                <span class="error-message">Erreur -</span>
                                Courriel
                                <span class="required">(obligatoire)</span>
                                <span class="error-message-explanation">
                                    <span>Courriel est obligatoire.</span>
                                </span>
                            </label>
                            <input type="text" id="courriel-2" value="" />
                        </div>
                        <div class="field message is-error">
                            <label for="message">
                                <span class="error-message">Erreur -</span>
                                Message
                                <span class="required">(obligatoire)</span>
                                <span class="error-message-explanation">
                                    <span>Message est obligatoire.</span>
                                </span>
                            </label>
                            <textarea id="message-2"></textarea>
                        </div>
                        <div class="field secteur is-error">
                            <label for="secteur">
                                <span class="error-message">Erreur -</span>
                                Choisissez votre secteur d'activité
                                <span class="required">(obligatoire)</span>
                                <span class="error-message-explanation">
                                    <span>Secteur est obligatoire.</span>
                                </span>
                            </label>
                            <select id="secteur-2">
                                <option value="1">Administration et Gestion</option>
                                <option value="2">Agriculture, Pêcheries et Alimentation</option>
                                <option value="3">Architecture, Arpentage, Urbanisme</option>
                                <option value="4">Automobile, Camionnage</option>
                                <option value="5">Chimie, plasturgie</option>
                                <option value="6">Commerce de gros et détail</option>
                                <option value="7">Communications, Publicité, Médias</option>
                                <option value="8">Construction</option>
                                <option value="9">Droit et Notariat</option>
                                <option value="10">Édition, Impression</option>
                                <option value="11">Éducation et Formation</option>
                                <option value="12">Électricité, Plomberie</option>
                                <option value="13">Énergie</option>
                                <option value="14">Environnement, Récupération</option>
                                <option value="15">Fabrication</option>
                                <option value="16">Finance, Assurances</option>
                                <option value="17">Hébergement et Restauration</option>
                                <option value="18">Immobilier</option>
                                <option value="19">Ingénierie</option>
                                <option value="20">Machinerie et équipements</option>
                                <option value="21">Matériel électrique et électronique</option>
                                <option value="22">Mobilier et accessoires</option>
                                <option value="23">Produits métalliques</option>
                                <option value="24">Regroupement</option>
                                <option value="25">Ressources naturelles</option>
                            </select>
                        </div>
                        <div class="field banniere is-error">
                            <label for="banniere">
                                Veuillez téléverser une image au format bannière de 580 pixels par 200 pixels, d'un poids maximal de 2 Mo.
                            </label>
                            <input type="file" id="banniere-2" />
                        </div>
                        <fieldset class="field radio error" id="radio-2">
                            <legend>
                                <span class="error-message">Erreur -</span>
                                Boutons radio
                                <span class="required">(obligatoire)</span>
                                <span class="error-message-explanation">
                                    <span>Boutons radio est obligatoire.</span>
                                </span>
                            </legend>
                            <div class="radio-field-wrapper">
                                <div class="radio-field">
                                    <label for="radio1-2">Lorem ipsum dolor sit amet</label>
                                    <input type="radio" name="radio" id="radio1-2" value="1" />
                                </div>
                                <div class="radio-field">
                                    <label for="radio2-2">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.</label>
                                    <input type="radio" name="radio" id="radio2-2" value="2" />
                                </div>
                                <div class="radio-field">
                                    <label for="radio3-2">Lorem ipsum dolor sit amet</label>
                                    <input type="radio" name="radio" id="radio3-2" value="3" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="field checkbox error" id="checkbox-2">
                            <legend>
                                <span class="error-message">Erreur -</span>
                                Cases à cocher
                                <span class="required">(obligatoire)</span>
                                <span class="error-message-explanation">
                                    <span>Cases à cocher est obligatoire.</span>
                                </span>
                            </legend>
                            <div class="checkbox-field-wrapper">
                                <div class="checkbox-field">
                                    <label for="checkbox1-2">Lorem ipsum dolor sit amet</label>
                                    <input type="checkbox" name="checkbox" id="checkbox1-2" value="1" />
                                </div>
                                <div class="checkbox-field">
                                    <label for="checkbox2-2">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod.</label>
                                    <input type="checkbox" name="checkbox" id="checkbox2-2" value="2" />
                                </div>
                                <div class="checkbox-field">
                                    <label for="checkbox3-2">Lorem ipsum dolor sit amet</label>
                                    <input type="checkbox" name="checkbox" id="checkbox3-2" value="3" />
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div id="buttons-2">
                        <input type="submit" value="Envoyer le formulaire" class="submit" />
                    </div>
                </form>
                -->
            </div>
        </div>
    </div>

{% endblock %}
