{% extends "../../src/twig/layouts/single-column.twig" %}

{% set title = "Templates - Iconographie" %}
{% set class = "template-icons" %}
{% set templates = true %}

{% block content %}

    <h1 class="template-title">Iconographie</h1>

    <div class="icons-wrapper">
        {% set icons = get_svg_collection('generic') %}
        {% for icon in icons %}
            <div class="icon">
                <a href="/svg/originals/{{icon.url}}" download="{{icon.name}}">
                    <img src="/svg/originals/{{icon.url}}" alt="">
                    <span>{{icon.name}}</span>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
