<!-- Templates header -->
{% if templates == true %}
<header class="l-header l-template-header">
    <div class="l-page-wrapper">
        {{ get_project_name() }}
    </div>
</header>
{% endif %}

<!-- Default header -->
{% if templates != true %}
<header class="l-header">
    <div class="l-page-wrapper">

    </div>
</header>
{% endif %}
