<nav class="nav-main {{class}}">
    <ul class="toplevel">
        <li class="toplevel-item">
            <div class="toplevel-item-wrap">
                <a href="#"><span>First page</span></a>
                <ul class="sublevel">
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>First sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Second sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Third sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fourth sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fifth sub-page</span></a></div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="toplevel-item">
            <div class="toplevel-item-wrap">
                <a href="#"><span>Second page</span></a>
                <ul class="sublevel">
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>First sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Second sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Third sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fourth sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fifth sub-page</span></a></div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="toplevel-item">
            <div class="toplevel-item-wrap">
                <a href="#"><span>Third page</span></a>
                <ul class="sublevel">
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>First sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Second sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Third sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fourth sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fifth sub-page</span></a></div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="toplevel-item">
            <div class="toplevel-item-wrap">
                <a href="#"><span>Fourth page</span></a>
                <ul class="sublevel">
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>First sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Second sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Third sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fourth sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fifth sub-page</span></a></div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="toplevel-item">
            <div class="toplevel-item-wrap">
                <a href="#"><span>Fifth page</span></a>
                <ul class="sublevel">
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>First sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Second sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Third sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fourth sub-page</span></a></div>
                    </li>
                    <li class="sublevel-item">
                        <div class="sublevel-item-wrap"><a href="#"><span>Fifth sub-page</span></a></div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
