<div class="social-box">
    <div class="social-box-left">
        <h2 class="social-box-title">Partager</h2>
        {% svg "icon-arrow-right", "60x20"%}
    </div>
    <div class="social-box-right">
        <a href="#" class="social-link">{% svg "icon-facebook", "15x30"%}</a>
        <a href="#" class="social-link">{% svg "icon-twitter", "30x25"%}</a>
    </div>
</div>
