// ---------------------------- //
//             Grid             //
// ---------------------------- //

.grid {
    $gutter: $spacing-default;
    $margin: 0;
    $max-columns: 5;
    $vertical-align: top;
    @include grid($gutter, $margin, $max-columns, $vertical-align);
    @include respond-to(tablet) {
        $gutter: $spacing-tablet;
        @include grid($gutter, $margin, $max-columns, $vertical-align);
    }
    @include respond-to(mobile) {
        $gutter: $spacing-mobile;
        @include grid($gutter, $margin, $max-columns, $vertical-align);
    }
}

.grid-small {
    $gutter: $spacing-mobile;
    $margin: 0;
    $max-columns: 5;
    $vertical-align: top;
    @include grid($gutter, $margin, $max-columns, $vertical-align);
}

.grid-collapsed {
    $gutter: 0;
    $margin: 0;
    $max-columns: 5;
    $vertical-align: top;
    @include grid($gutter, $margin, $max-columns, $vertical-align);
}
