@import "styles.json";

// --------------------------------- //
//             Variables             //
// --------------------------------- //

$spacing-default: 40px;
$spacing-tablet: 30px;
$spacing-mobile: 20px;
$document-width: 1280px;

// ------------------------------------- //
//             Media queries             //
// ------------------------------------- //

// Media queries
$mq-breakpoints: (
    "mobile": (
        min: false,
        max: 767px,
        grid: true,
        export: true
    ),
    "tablet": (
        min: 768px,
        max: 1024px,
        grid: true,
        export: true
    ),
    "desktop": (
        min: 1025px,
        max: false,
        grid: true,
        export: true
    ),
    "mobile-tablet": (
        min: false,
        max: 1024px,
        grid: false,
        export: false
    ),
    "document-width": (
        min: false,
        max: $document-width,
        grid: false,
        export: false
    )
);

// ------------------------------ //
//             Colors             //
// ------------------------------ //

@function color($color) {
    @if map-has-key($colors, $color) {
        @return map-get($colors, $color);
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$color}`. Please make sure it is defined in `$colors` map.";
        @return null;
    }
}

// ------------------------------ //

$c-bg-document: color("c-white");
$c-border-default: color("c-grey");
$c-txt-default: color("c-black");
$c-txt-headers: color("c-black-light");
$c-txt-intro: color("c-black-light");
$c-txt-links: color("c-black-light");
$c-alert: color("c-red");

// ----------------------------- //
//             Fonts             //
// ----------------------------- //

@function font($font, $property: "font-size") {
    @if map-has-key($typography, $font) {
        @return map-get(map-get($typography, $font), $property);
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$font}`. Please make sure it is defined in `$fonts` map.";
        @return null;
    }
}

// ------------------------------ //

$ff-roboto: "Roboto", "Arial", sans-serif;

// ------------------------------ //

$ff-default: $ff-roboto;
$ff-headers: $ff-roboto;
