<div class="folder-group">
    <div class="folder">
        <h3 class="folder-trigger">Titre du folder</h3>
        <div class="folder-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, consequuntur, dolores, sint voluptate debitis repellendus nisi deserunt ratione reiciendis suscipit recusandae ex minus repudiandae doloribus amet deleniti delectus molestias ad inventore temporibus tenetur illo labore mollitia accusamus consequatur fugiat nemo assumenda neque aspernatur modi! Eveniet voluptate nihil neque dicta accusantium.</p>
            <p>Et, nam adipisci id doloribus minima atque. Amet, deserunt, autem, quos nisi iusto provident nobis fugiat corrupti ut optio nesciunt ex cum mollitia suscipit vitae architecto a officia temporibus possimus maxime porro quibusdam soluta nam sequi voluptatibus ipsum vel dolor praesentium magnam expedita. Voluptas ea magni esse accusamus aliquam. Porro.</p>
        </div>
    </div>
    <div class="folder">
        <h3 class="folder-trigger">Titre du folder</h3>
        <div class="folder-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, consequuntur, dolores, sint voluptate debitis repellendus nisi deserunt ratione reiciendis suscipit recusandae ex minus repudiandae doloribus amet deleniti delectus molestias ad inventore temporibus tenetur illo labore mollitia accusamus consequatur fugiat nemo assumenda neque aspernatur modi! Eveniet voluptate nihil neque dicta accusantium.</p>
            <p>Et, nam adipisci id doloribus minima atque. Amet, deserunt, autem, quos nisi iusto provident nobis fugiat corrupti ut optio nesciunt ex cum mollitia suscipit vitae architecto a officia temporibus possimus maxime porro quibusdam soluta nam sequi voluptatibus ipsum vel dolor praesentium magnam expedita. Voluptas ea magni esse accusamus aliquam. Porro.</p>
        </div>
    </div>
</div>
