<div class="slider is-dots">
    <div class="slider-wrapper">
        <div class="slider-container clearfix">
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 1" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 2" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 3" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 4" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 5" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 6" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 7" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 8" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 9" %}</a>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 10" %}</a>
            </div>
        </div>
    </div>
</div>
