<div class="slider">
    <div class="slider-wrapper">
        <div class="slider-container clearfix">
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 1" %}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Amet, dolorem, quo, dolorum placeat quia</a> et reprehenderit sit animi totam illum culpa cumque qui nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 2" %}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit<a href="#">Amet, dolorem, quo, dolorum placeat quia</a> sit animi totam illum culpa cumque qui nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 3" %}</a>
                <p>Lorem ipsum <a href="#">Amet, dolorem, quo, dolorum placeat quia</a>dolor sit amet, consectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit sit animi totam illum culpa cumque qui nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 4" %}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit sit animi totam illum culpa cumque qui nobis eius<a href="#">Amet, dolorem, quo, dolorum placeat quia</a> recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 5" %}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit sit animi totam illum culpa cumque qu<a href="#">Amet, dolorem, quo, dolorum placeat quia</a>i nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 6" %}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit sit animi totam illum culpa cumque qui nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 7" %}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit sit animi totam illum culpa cu<a href="#">Amet, dolorem, quo, dolorum placeat quia</a>mque qui nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 8" %}</a>
                <p>Lorem ipsum dolor sit amet, co<a href="#">Amet, dolorem, quo, dolorum placeat quia</a>nsectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit sit animi totam illum culpa cumque qui nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 9" %}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit sit animi totam illum culpa cumque qui nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
            <div class="slide">
                <a href="#">{% placeholder "350x150", "Slide 10" %}</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, dolorem, quo, dolorum placeat quia et reprehenderit sit animi totam illum cu<a href="#">Amet, dolorem, quo, dolorum placeat quia</a>lpa cumque qui nobis eius recusandae natus cupiditate repellat ex!</p>
            </div>
        </div>
    </div>
</div>
