<div class="tab">
    <div class="tab-wrapper">
        <h3 class="tab-trigger">Titre du tab</h3>
        <div class="tab-content">
            <p>Lorem ipsum dolor sit amet, consectetur aus fugit expedita consequuntur eligendi aut debitis qui provident perspiciatis! Repellendus, ipsa reprehenderit placeat quod ratione qui nulla tempora quae incidunt mollitia quisquam quidem consequuntur libero odit doloremque eveniet consectetur earum cum excepturi necessitatibus.</p>
        </div>
    </div>
    <div class="tab-wrapper">
        <h3 class="tab-trigger">Titre du tab</h3>
        <div class="tab-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, iure, dolorem, aperiam, voluptatibus duugit expedita consequuntur eligendi aut debitis qui provident perspiciatis! Repellendus, ipsa reprehenderit placeat quod ratione qui nulla tempora quae incidunt mollitia quisquam quidem consequuntur libero odit doloremque eveniet consectetur earum cum excepturi necessitatibus.</p>
        </div>
    </div>
    <div class="tab-wrapper">
        <h3 class="tab-trigger">Titre du tab</h3>
        <div class="tab-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, iure, dolorem, aperiam, voluptatibus ducimus numquam dolor ex eius perspiciatis tenetur distinctio explicabo odio tempora qui odit. Rerum, delectus, sunt, deserunt praesentium velit ipsam quidem iusto molestias error minus recusandae saepe.</p>
            <p>Quibusdam, natus, minus, dolorum eaque ullam necessitatibus fugit expedita consequuntur eligendi aut debitis qui provident perspiciatis! Repellendus, ipsa reprehenderit placeat quod ratione qui nulla tempora quae incidunt mollitia quisquam quidem consequuntur libero odit doloremque eveniet consectetur earum cum excepturi necessitatibus.</p>
        </div>
    </div>
</div>
