 <div class="grid">
    <div class="grid-wrapper">
        <div class="col-1-3 col-1-1-mobile">
            <span class="tooltip" data-js="tooltip">
                <span class="tooltip-trigger" data-js="tooltip-trigger" aria-live="polite" type="button">{% lorem  "4" %}</span>
                <span class="tooltip-content" data-js="tooltip-content">{% lorem "40" %}</span>
            </span>
        </div>
        <div class="col-1-3 col-1-1-mobile">
            <span class="tooltip" data-js="tooltip">
                <span class="tooltip-trigger" data-js="tooltip-trigger" aria-live="polite" type="button">{% lorem  "4" %}</span>
                <span class="tooltip-content" data-js="tooltip-content">{% lorem "40" %}</span>
            </span>
        </div>
        <div class="col-1-3 col-1-1-mobile">
            <span class="tooltip" data-js="tooltip">
                <span class="tooltip-trigger" data-js="tooltip-trigger" aria-live="polite" type="button">{% lorem  "4" %}</span>
                <span class="tooltip-content" data-js="tooltip-content">{% lorem "40" %}</span>
            </span>
        </div>
    </div>
</div>
