// ------------------------------- //
//             Content             //
// ------------------------------- //

.logo {
    display: block;
    position: absolute;
    top: vw(75px);
    left: vw(50px);
    width: vw(370px);
    max-width: 370px;
}

.video-wrapper iframe {
    border: 4px solid $c-blue;
    border-radius: 4px;
}

.icon-scroll-down-wrapper {
    position: absolute;
    bottom: 9vw;
    left: 50%;
    fill: #ada79b;
    transform: translate(-50%, 120%);
    @include respond-to($respond-mobile) {
        display: none;
    }
}

.social-wrapper {
    &.is-vertical {
        display: flex;
        position: absolute;
        top: 5px;
        right: -9vw;
        width: 9vw;
        flex-wrap: wrap;
        justify-content: center;
        @include respond-to($respond-mobile) {
            position: static;
            width: 100%;
            margin-top: 30px;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
        .social-link {
            flex-basis: 100%;
            + .social-link {
                margin-top: 60px;
                @include respond-to($respond-mobile) {
                    margin-top: 0;
                }
            }
        }
    }
}

.social-link {
    text-align: center;
    fill: #ada79b;
    &:hover {
        fill: $c-blue;
    }
}

.match-wrapper {
    display: flex;
    margin: 30px 0;
}

.match-item {
    position: relative;
    padding: vw(15px) 15px vw(30px);
    text-align: center;
    border: 4px solid $c-border-default;
    flex-basis: 50%;
    &:first-child {
        border-right-width: 2px;
    }
    & + & {
        border-left-width: 2px;
        .match-image:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: -22px;
            width: 10px;
            height: 4px;
            background-color: $c-border-default;
        }
    }
}

.match-image {
    position: relative;
    img {
        border-radius: 4px;
    }
}

.match-name {
    display: inline-block;
    margin-top: vw(30px);
    padding: 0 15px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #59595e;
    @include rem-typo(11px, 15px);
}
