// ---------------------------- //
//             Form             //
// ---------------------------- //

.form-wrapper {
    margin: 35px 0;
}

.form-actions {
    margin-top: 35px;
    text-align: center;
}

.form-row {
    display: flex;
    position: relative;
    margin: -4px 0;
    border: 4px solid $c-border-default;
    input[type="file"] {
        display: none !important;
    }
    .lbo-aif {
        display: flex;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-image: url("../img/background-pattern.png");
        background-attachment: fixed;
        align-items: center;
        justify-content: center;
    }
    .lbo-aif-filename {
        display: inline-block;
    }
    .btn-supprimer {
        width: image-width("../svg/icon-delete.svg");
        height: image-height("../svg/icon-delete.svg");
        margin-left: 6px;
        border: 0;
        background-color: transparent;
        background-image: url("../svg/originals/icon-delete.svg");
        background-repeat: no-repeat;
        background-size: image-width("../svg/icon-delete.svg");
    }
}

.form-input-label {
    padding: 13px 15px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $c-blue;
    border-right: 4px solid $c-border-default;
    @include rem-typo(11px, 15px);
}

.form-input-label-photo {
    display: block;
    width: 100%;
    padding: 30px 10px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $c-blue;
    fill: $c-blue;
    .icon-wrapper {
        position: relative;
        top: -1px;
        margin-right: 5px;
    }
}

.form-input-text {
    padding: 13px 15px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    flex-basis: 100%;
    @include rem-typo(11px, 15px);
}

.form-confirmation {
    display: flex;
    margin: 16px 0;
}

.fake-checkbox {
    display: none;
    &:checked + .fake-checkbox-label:before {
        border-color: $c-blue;
        background-color: $c-blue;
    }
}

.fake-checkbox-label {
    display: flex;
    letter-spacing: 0.04em;
    color: #72737c;
    align-items: center;
    @include rem-typo(13px, 15px);
    &:before {
        content: "";
        width: 24px;
        height: 24px;
        margin-right: 10px;
        border: 4px solid $c-border-default;
        flex-shrink: 0;
    }
}
