// ---------------------------------- //
//             Pagination             //
// ---------------------------------- //

.pagination {
    .pagination-element {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        + .pagination-element {
            margin-left: 10px;
        }
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
}
