// ---------------------------------- //
//             Tooltip                //
// ---------------------------------- //

.tooltip {
    border-bottom: none;
    cursor: help;
    display: inline-block;
    font-weight: 700;
    position: relative;
    text-decoration: none;

}
.tooltip-trigger {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
}
.tooltip-content {
    @include rem-typo(14, 17);
    background-color: #bfbfbf;
    box-sizing: border-box;
    border: none;
    display: none;
    font-style: italic;
    font-weight: 300;
    left: 1%;
    padding: emify(18) emify(15);
    position: absolute;
    top: -510%;
    width: emify(310);
    z-index: 10;
    &:after {
       content: "";
       width: 0;
       height: 0;
       border-left: 10px solid transparent;
       border-right: 10px solid transparent;
       border-top: 10px solid #bfbfbf;
       position: absolute;
       bottom: emify(-10); 
       left: emify(10);
        @include respond-to(mobile) {
            display: none;
        }
    }
    &.has-x {
        background-image: url("../img/x.png");
        background-position: 96% 10px;
        background-repeat: no-repeat;
        padding-right: 50px;
    }

}

