// ---------------------------------- //
//             Tooltip                //
// ---------------------------------- //

.tooltip {
    border-bottom: none;
    cursor: help;
    display: inline-block;
    font-weight: 700;
    position: relative;
    text-decoration: none;

}
[data-js="tooltip-trigger"] {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0;
}
[data-js="tooltip-content"] {
    @include rem-typo(14, 17);
    background-color: #f2f2f2;
    box-sizing: border-box;
    border: 1px solid #000;
    display: none;
    font-style: italic;
    font-weight: 300;
    left: 1%;
    padding: emify(18) emify(15);
    position: absolute;
    top: -510%;
    width: emify(310);
    z-index: 10;
}

